table.wp-seo-post-meta-fields { width: 100%; }
.wp-seo-post-meta-fields th { padding: 3px; vertical-align: top; text-align: right; }
.wp-seo-post-meta-fields textarea { height: 4em; width: 98%; }
.wp-seo-post-meta-fields input { width: 98%; }
#tab-panel-formatting-tags h1 { font-size: 1.3em; margin: 1em 0; }
#tab-panel-formatting-tags .formatting-tag-name { font-family: monospace; }
.wp-seo-repeatable-field label { min-width: 80px; display: inline-block; font-style: italic; }
.wp-seo-delete { font-size: smaller; }

/* Display formatting tags in the help menu in two columns on shorter screens */
#tab-panel-formatting-tags .formatting-tags {
	-webkit-column-count: 2; -moz-column-count: 2; column-count: 2;
}
@media screen and (min-height: 992px) {
	#tab-panel-formatting-tags .formatting-tags {
		-webkit-column-count: 1; -moz-column-count: 1; column-count: 1;
	}
}
#tab-panel-formatting-tags .formatting-tag-wrapper {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
}

#wp-mostrar-estatus-body{text-align: center; font-weight: 700;}
#wp-word-count span.word-count{padding:0px 10px;font-weight: bolder;}
.is_empty{background: #0F4577;padding:5px;margin-bottom:30px;color:red;text-align: center;}

#seo_indicator{width:100%;border:1px solid rgba(0,0,0,0.3);}
#seo_indicator td{width:25%;}
.ui_id{padding:10px 2px;font-size: 90%;text-align: center;font-weight: bold;}
#ui_id_row{margin-top:20px;}
.signal{width:20px; height:20px;border-radius: 50%; box-shadow:1px 1px 1px rgba(0,0,0,0.3);}
.alt_signal{box-shadow: 1px 1px 1px rgba(0,0,0,0.5);border:none!important;}

.go{background: #22FC22!important;}
.warn{background: #F07830!important;}
.stop{background: #E62929!important;}
.clearance{background:#1E8EF7!important;}
.sig_dos{box-shadow:1px 1px 1px rgba(0,0,0,0.3);border-radius: 50%;width:20px;height: 20px;background: rgba(255,127,0,0.5)}
